test_sendgrid.py
client_secrets.json
client_secret_100201225639-6v55q25o4lrjl889uievo0fqgrnpid0j.apps.googleusercontent.com.json
__pycache__
biblioteca.db
client_db.csv
funcionario_db.csv
Scripts
Lib
pyvenv.cfg
biblioteca.db