{% extends "layout.html" %}

{% block title%}  - Cadastro de Funcionário  {% endblock %}

{% block main %}
         <form action="{{ url_for('form_cadastro_funcionario') }}" method="POST" class="text-center">
            <label>Nome</label>
            <input type="text" name="userName" /> <br>
            <label>Matricula</label>
            <input type="text" name="userMatricula" /> <br>
            <label>Senha</label>
            <input type="password" name="userPassword"/> <br>
            <label>Email</label> 
            <input type="email" name="userEmail"/>
            <div class="form__fieldset">
               <input
                 class="form__submit form__input"
                 type="submit"
                 value="Cadastrar"
               />
             </div>
         </form>

         
         {% endblock %}