{% extends "layout.html" %}

{% block main %}

<h2>Seja bem vindo, {{login}}!</h2>
         <div class="buttonHolder">
         <form action="{{ url_for('tela_avaliacao') }}">
            <input type="submit" value="Avaliar obra" />
        </form>
        <!--<form action="{{ url_for('cadastro_cliente') }}">
         <input type="submit" value="Cadastrar" /> 
     </form>-->
     <form action="{{ url_for('reclamacao') }}">
      <input type="submit" value="Reclamar" />
  </form>
  <form action="{{ url_for('tela_consulta') }}">
    <input type="submit" value="Empréstimo" />
</form>
<form action="{{ url_for('tela_emprestimos') }}">
    <input type="submit" value="Consultar empréstimos" />
</form>
   </div>
   <div class="buttonHolder">
    <form action="{{ url_for('logout') }}">
       <input type="submit" value="Deslogar" />
   </form>
   </div>
      </main>
      {% endblock %}