{% extends "layout.html" %}

{% block title%}  - Consulta de obras  {% endblock %}

{% block main %}
         <table>
             <tr>
                 <th>Título</th>
                 <th>Autor</th>
                 <th>Assunto</th>
                 <th>Data de Publicação</th>
                 <th>Posição</th>
             </tr>
             <tr>
                <td>{{titulo}}</td>
                <td>{{autor}}</td>
                <td>{{assunto}}</td>
                <td>{{data}}</td>
                <td>{{posicao}}</td>
            </tr>
         </table>

         <div class="buttonHolder">
            <form action="{{ url_for('func_check_dashboard') }}">
               <input type="submit" value="Retornar ao início" />
           </form>
           
      </div>
         {% endblock %}