{% extends "layout.html" %}

{% block main %}
<form action="/arquivo equivalente em python">
    <label for="cars">Escolha um genero:</label>
    <select name="genero" id="genero">
      <option value="suspense">Suspense</option>
      <option value="aventura">Aventura</option>
      <option value="infantil">Infantil</option>
      <option value="romance">Romance</option>
    </select>
    <br><br>
    <input type="submit" value="Pesquisar">
  </form>

  <form action="/arquivo equivalente em python">
    <label for="cars">Escolha um autor:</label>
    <select name="autor" id="autor">
      <option value="Poe">Edgar Allan Poe</option>
      <option value="machado">Machado de Assis</option>
      <option value="amado">Jorge Amado</option>
      <option value="lobato">Monteiro Lobato</option>
    </select>
    <br><br>
    <input type="submit" value="Pesquisar">
  </form>
  {% endblock %}