{% extends "layout.html" %}

{% block main %}
         <div class="buttonHolder">
         <form action="{{ url_for('tela_obras') }}">
            <input type="submit" value="Manutenção de obras" />
        </form>
        <form action="{{ url_for('cadastro_funcionario') }}">
         <input type="submit" value="Cadastrar" />
     </form>
     <form action="{{ url_for('tela_reclamacao') }}">
      <input type="submit" value="Responder reclamação" />
  </form>
   </div>
   <br>
   <br>
   <div class="buttonHolder">
    <form action="{{ url_for('logout') }}">
       <input type="submit" value="Deslogar" />
   </form>
   </div>
      </main>
      {% endblock %}