{% extends "layout.html" %}

{% block main %}
         <div class="buttonHolder">
         <form action="{{ url_for('form_cliente') }}">
            <input type="submit" value="Login" />
        </form>
        <br>
        <form action="{{ url_for('cadastro_cliente') }}">
         <input type="submit" value="Cadastrar" />
     </form>
     <br>
     <form action="{{ url_for('form_funcionario') }}">
      <input type="submit" value="Área para funcionários" />
  </form> 
   </div>
   <!--<a class="button" href="{{ url_for('login_google') }}">Google Login</a>-->
      </main>
      
      {% endblock %}