<!DOCTYPE html>
<html lang="pt-BR">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="Software para controle da Biblioteca">
      <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
      <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Moon+Dance&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      <title>Biblioteca</title>
   </head>
   <body>
      <header>
         <nav>
            <h1 class="text-center">Biblioteca {% block title %} {% endblock %}</h1>
         </nav>
         <hr>
      </header>
      <main>
        {% block main %}
         <div class="buttonHolder">
         <form action="{{ url_for('login') }}">
            <input type="submit" value="Login" />
        </form>
        <form action="{{ url_for('cadastro_cliente') }}">
         <input type="submit" value="Registre-se" />
     </form>
   </div>
    {% endblock %}
      </main>
      <footer>
      </footer>
   </body>
</html>